<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">


    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">Created by Diego</a>
      <a class="item" href="#">Readme file</a>
    </div>
  </div>
</div>
