<%= form_tag signin_path, method: "post" do %>
  <div class="ui input focus">
    <div>
      <p>
        <label>Email</label>
      </p>
      <p>
        <input type="text" name="email"/>
      </p>
      <p>
        <label>Password</label>
      </p>
      <p>
        <input type="password" name="password"/>
      </p>
      <p>
        <input type="submit" value="Signin"/>
      </p>
    </div>
  </div>
<% end %>
